@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@using Beautopia.Services.IDataService
@using Beautopia.Services.DataAppService
@using Beautopia.Model.Area
@using Beautopia.web.Areas.Admin.Extensions;

@{
	var SessionLang = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<string>("Lang");
	UsersAppService usersService = new UsersAppService();
	IUsers _users;
	_users = usersService;
	SiteInfo siteInfo = _users.GetSiteInfo();
	//siteInfo = siteInfo;




}



<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="description" content="Dentist, stomatologist, dental clinic, medical,clinic, surgery clinic, plastic surgery">
	<meta name="author" content="BUTOPIA">
	<meta name="format-detection" content="telephone=no">
	<title>BUTOPIA HEALTH CARE</title>
	<!-- Stylesheets -->
	<link href="~/medlab/vendor/slick/slick.css" rel="stylesheet">
	<link href="~/medlab/vendor/animate/animate.min.css" rel="stylesheet">
	<link href="~/medlab/icons/style.css" rel="stylesheet">
	<link href="~/medlab/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="~/medlab/css/style.css" rel="stylesheet">
	<!--Favicon-->
	<link rel="icon" href="~/medlab/images/favicon2.png" type="image/x-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	@*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
</head>

<body class="shop-page layout-medlab">
	<!--header-->
	<header class="header">
		<div class="header-quickLinks js-header-quickLinks d-lg-none">
			<div class="quickLinks-top js-quickLinks-top"></div>
			<div class="js-quickLinks-wrap-m">
			</div>
		</div>
		<div class="header-topline d-none d-lg-flex">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-auto d-flex align-items-center">
						<div class="header-info"><i class="icon-placeholder2"></i>@(SessionLang=="Ar"? siteInfo.AddressAr:siteInfo.Address) </div>
						<div class="header-phone"><i class="icon-telephone"></i><a href="tel:@siteInfo.Contact">@(SessionLang=="Ar"? siteInfo.Contact:siteInfo.Contact)</a></div>
						<div class="header-info"><i class="icon-black-envelope"></i><a href="mailto:@siteInfo.Email">@siteInfo.Email</a></div>
					</div>
					<div class="col-auto ml-auto d-flex align-items-center">
						<span class="header-social">
							<a href="@(siteInfo.Instagram==""?"#":siteInfo.Instagram)" target="blank" class="hovicon"><i class="icon-instagram"></i></a>
							<a href="@(siteInfo.SnapChat==""?"#":siteInfo.SnapChat)" target="blank" class="hovicon"><i class="material-icons blue-color"> snapchat</i></a>
							<a href="@(siteInfo.Twitter==""?"#":siteInfo.Twitter)" target="blank" class="hovicon"><i class="icon-twitter-logo"></i></a>
							<a href="@(siteInfo.Facebook==""?"#":siteInfo.Facebook)" target="blank" class="hovicon"><i class="icon-facebook-logo"></i></a>

							@*<a href="@(siteInfo.GooglePlus==""?"#":siteInfo.GooglePlus)" target="blank" class="hovicon"><i class="icon-google-plus-circle"></i></a>*@

						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="header-content" dir="@(SessionLang=="Ar"? "rtl": "ltr")">
			<div class="container">
				<div class="row align-items-lg-center">
					<button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNavDropdown">
						<span class="icon-menu"></span>
					</button>
					<div class="col-lg-auto col-lg-2 d-flex align-items-lg-center">
						<a asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/medlab/images/content/logo/@(SessionLang=="Ar"?siteInfo.LogoImageAr:siteInfo.LogoImage)" alt="" class="img-fluid"></a>
					</div>
					<div class="col-lg ml-auto header-nav-wrap">
						<div class="header-nav js-header-nav">
							<nav class="navbar navbar-expand-lg btco-hover-menu">
								<div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
									<ul class="@(SessionLang=="Ar"? "navbar-nav navbar-nav-custom":"navbar-nav")">
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a href="#" class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") dropdown-toggle  custom-btn" data-toggle="dropdown">@(SessionLang=="Ar"? "معلومات عنا":"About Us")</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" asp-controller="Home" asp-action="BeyondtheBrand">@(SessionLang=="Ar"? "ما وراء العلامة التجارية": "Beyond the Brand")</a></li>
												<li><a class="dropdown-item" asp-controller="Home" asp-action="MessageFromCEO">@(SessionLang=="Ar"? "رسالة من الرئيس التنفيذي": "Message From CEO") </a></li>

											</ul>
										</li>

										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="SERVICES">@(SessionLang=="Ar"? "خدمات" : "SERVICES")</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="OURSPECIALISTS">@(SessionLang=="Ar"? "أطبائنا" : "Our Doctors")</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="Devices">@(SessionLang=="Ar"? "الأجهزة" : "Devices")</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="Devices">@(SessionLang=="Ar"? "عرض" : "Offer")</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="GALLERY">@(SessionLang=="Ar"? "صالة عرض" : "Gallery")</a>
										</li>



										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item") custom-btn" style="display:none">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link")" asp-controller="Home" asp-action="TESTIMONIALS">Testimonials</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item") dropdown" style="display:none">
											<a href="blog.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
											cust		<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="blog.html">Blog Posts</a></li>
												<li><a class="dropdown-item" href="blog-grid.html">Blog Grid Posts</a></li>
												<li><a class="dropdown-item" href="blog-post-page.html">Blog Single Post</a></li>
											</ul>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="ContactUs">@(SessionLang=="Ar"? "اتصل بنا" : "Contact Us")</a>
										</li>
										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a class="@(SessionLang=="Ar"? "nav-link nav-link-custom":"nav-link") custom-btn" asp-controller="Home" asp-action="requestservice">@(SessionLang=="Ar"? "جدولة زيارة" : "Schedule a Visit")</a>
										</li>

										<li class="@(SessionLang=="Ar"? "nav-item nav-item-custom":"nav-item")">
											<a href="#" id="changeLang" class="nav-link custom-btn">@(SessionLang == "Ar"?"En":"Ar")</a>

										</li>

									</ul>
								</div>
							</nav>
						</div>
						@*<div class="header-search">
								<form action="#" class="form-inline">
									<i class="icon-search"></i>
									<input type="text" placeholder="Search">
									<button type="submit"><i class="icon-search"></i></button>
								</form>
							</div>*@
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--//header-->
	<div class="page-content">


		@RenderBody()

	</div>
	<!--footer-->
	<div class="footer mt-0">
		<div class="container">
			<div class="row py-1 py-md-2 px-lg-0">
				<div class="col-lg-4 footer-col1 pt-lg-3">
					<div class="row flex-column flex-md-row flex-lg-column">
						<div class="col-md col-lg-auto">
							<div class="footer-logo">
								<img src="~/medlab/images/content/logo/@(SessionLang=="Ar"?siteInfo.LogoImageAr:siteInfo.LogoImage)" alt="" class="img-fluid">
							</div>
							<div class="mt-2 mt-lg-0"></div>
							<div class="footer-social d-none d-md-block d-lg-none">
								<a href="@(siteInfo.Facebook==""?"#":siteInfo.Facebook)" target="blank" class="hovicon"><i class="icon-facebook-logo"></i></a>
								<a href="@(siteInfo.Twitter==""?"#":siteInfo.Twitter)" target="blank" class="hovicon"><i class="icon-twitter-logo"></i></a>
								<a href="@(siteInfo.GooglePlus==""?"#":siteInfo.GooglePlus)" target="blank" class="hovicon"><i class="icon-google-logo"></i></a>
								<a href="@(siteInfo.Instagram==""?"#":siteInfo.Instagram)" target="blank" class="hovicon"><i class="icon-instagram"></i></a>
							</div>
						</div>
						<div class="col-md">
							<div class="footer-text mt-1 mt-lg-1">
								@*<p>
										To receive email releases, simply provide
										<br>us with your email below
									</p>
									<form action="#" class="footer-subscribe">
										<div class="input-group">
											<input name="subscribe_mail" type="text" class="form-control" placeholder="Your Email" />
											<span><i class="icon-black-envelope"></i></span>
										</div>
									</form>*@
							</div>
							<div class="footer-social d-md-none d-lg-block">
								<a href="@(siteInfo.Instagram==""?"#":siteInfo.Instagram)" target="blank" class="hovicon"><i class="icon-instagram"></i></a>
								<a href="@(siteInfo.SnapChat==""?"#":siteInfo.SnapChat)" target="blank" class="hovicon" ><i class="material-icons-down blue-color"> snapchat</i></a>
								<a href="@(siteInfo.Twitter==""?"#":siteInfo.Twitter)" target="blank" class="hovicon"><i class="icon-twitter-logo"></i></a>
								<a href="@(siteInfo.Facebook==""?"#":siteInfo.Facebook)" target="blank" class="hovicon"><i class="icon-facebook-logo"></i></a>



							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-4">

				</div>
				<div class="col-sm-6 col-lg-4">
					<h3>@(SessionLang=="Ar"? "الاتصال بنا":"Our Contact")</h3>
					<div class="h-decor"></div>
					<ul class="icn-list">
						<li>
							<i class="icon-placeholder2"></i>@(SessionLang=="Ar"? siteInfo.AddressAr:siteInfo.Address)
							<br>
							<a href="https://goo.gl/maps/FWqonVYrZn8tqZhV6" target="_blank" class="btn btn-xs btn-gradient"><i class="icon-placeholder2"></i><span>@(SessionLang=="Ar"? "الحصول على الاتجاهات على الخريطة": "Get directions on the map")</span><i class="icon-right-arrow"></i></a>
						</li>
						<li>
							<i class="icon-telephone"></i><b><span class="phone"><span class="text-nowrap">@(SessionLang=="Ar"? siteInfo.Contact:siteInfo.Contact)</span></span></b>
							<br>@(SessionLang=="Ar"? "(۲٤/۷ الاستفسار العام)" : "(24/7 General inquiry)")
						</li>
						<li><i class="icon-black-envelope"></i><a href="mailto:@siteInfo.Email">@siteInfo.Email</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row text-center text-md-left">
					<div class="col-sm">
						@(SessionLang=="Ar"? "حقوق النشر © ۲۰۲۰" : "Copyright © 2022") <a href="#">@(SessionLang=="Ar"? "بيوتوبيا" : "BUTOPIA")</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
						<a href="#">@(SessionLang=="Ar"? "سياسة الخصوصية" : "Privacy Policy")</a>
					</div>
					<div class="col-sm-auto ml-auto"><span class="d-none d-sm-inline">@(SessionLang=="Ar"? "تواصل معنا على" : "Contact Us at")&nbsp;&nbsp;&nbsp;</span><i class="icon-telephone"></i>&nbsp;&nbsp;<b>@(SessionLang=="Ar"? siteInfo.Contact:siteInfo.Contact)</b></div>
				</div>
			</div>
		</div>
	</div>
	<!--//footer-->
	<div class="backToTop js-backToTop">
		<i class="icon icon-up-arrow"></i>
	</div>
	<div class="modal modal-form modal-form-sm fade" id="modalQuestionForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<button aria-label='Close' class='close' data-dismiss='modal'>
					<i class="icon-error"></i>
				</button>
				<div class="modal-body">
					<div class="modal-form">
						<h3>@(SessionLang=="Ar"? "طرح سؤال" : "Ask a Question")</h3>
						<form class="mt-15" id="questionForm" method="post" novalidate>
							<div class="successform">
								<p>@(SessionLang=="Ar"? "لقد تم ارسال رسالتك بنجاح!" : "Your message was sent successfully!")</p>
							</div>
							<div class="errorform">
								<p>@(SessionLang=="Ar"? "حدث خطأ ما ، حاول تحديث النموذج وإرساله مرة أخرى" : "Something went wrong, try refreshing and submitting the form again.")</p>
							</div>
							<div class="input-group">
								<span>
									<i class="icon-user"></i>
								</span>
								<input type="text" name="name" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "اسمك" : "Your Name")*" />
							</div>
							<div class="input-group">
								<span>
									<i class="icon-email2"></i>
								</span>
								<input type="text" name="email" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "بريدك الالكتروني" : "Your Email")" />
							</div>
							<div class="input-group">
								<span>
									<i class="icon-smartphone"></i>
								</span>
								<input type="text" name="phone" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "رقم جوالك" : "Your Mobile")" />
							</div>
							<textarea name="message" class="form-control" placeholder="@(SessionLang=="Ar"? "رسالة" : "Message")"></textarea>
							<div class="text-right mt-2">
								<button type="submit" class="btn btn-sm btn-hover-fill">@(SessionLang=="Ar"? "اسأل الآن" : "Ask Now")</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" value="@(SessionLang == "Ar"?"En":"Ar")" id="Lang" />
	<!-- Vendors -->
	<script src="~/medlab/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="~/medlab/vendor/jquery-migrate/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/medlab/vendor/cookie/jquery.cookie.js"></script>
	<script src="~/medlab/vendor/bootstrap-datetimepicker/moment.js"></script>
	<script src="~/medlab/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="~/medlab/vendor/popper/popper.min.js"></script>
	<script src="~/medlab/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="~/medlab/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script src="~/medlab/vendor/waypoints/sticky.min.js"></script>
	<script src="~/medlab/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="~/medlab/vendor/slick/slick.min.js"></script>
	<script src="~/medlab/vendor/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
	<script src="~/medlab/vendor/countTo/jquery.countTo.js"></script>
	<script src="~/medlab/vendor/form-validation/jquery.form.js"></script>
	<script src="~/medlab/vendor/form-validation/jquery.validate.min.js"></script>
	<script src="~/medlab/vendor/isotope/isotope.pkgd.min.js"></script>
	<!-- Custom Scripts -->
	<script src="~/medlab/js/app.js"></script>
	<script src="~/medlab/js/app-shop.js"></script>
	<script src="~/medlab/form/forms.js"></script>
	<link href="~/css/custom-butopia.css" rel="stylesheet" />

	<script>

		$("#changeLang").click(function () {

			//if ($("#Lang").val() == "Ar") {
			//	$("#Lang").val("Ar")

			//}
			//else {
			//	$("#Lang").val("Ar")
			//}

			var datas = { 'Lang': $("#Lang").val() };
			$.ajax({
				type: "GET",
				url: "/Home/ChangeTheLanguage",
				//data: "{mdate:" + "m" + "}",
				data: datas,//JSON.stringify(datas),
				//dataType: "json",
				// contentType: "application/json; charset=utf-8",
				success: function (data) {
					location.reload();

				}
			});

		})
	</script>

	@RenderSection("Scripts", required: false)
</body>

</html>