@model Beautopia.Model.Area.HomeViewModel 

<!--section slider-->
<div class="section mt-0">
	<div class="quickLinks-wrap js-quickLinks-wrap-d d-none d-lg-flex">
		<div class="quickLinks js-quickLinks">
			<div class="container">
				<div class="row no-gutters">
					<div class="col">
						<a href="#" class="link">
							<i class="icon-placeholder"></i><span>Location</span>
						</a>
						<div class="link-drop p-0">
							<div class="google-map">
								@*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40119.804311386426!2d-97.32055794896301!3d37.64364017354126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bae4ec254beb5f%3A0x410df48edd2f5ede!2sGraceMed%20Jardine%20Family%20Clinic!5e0!3m2!1sen!2sua!4v1579853082410!5m2!1sen!2sua"></iframe>*@
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.6520008942302!2d46.68930911500049!3d24.73882478411148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03ec5a5c7df1%3A0xb79f935fa3caa1f3!2sFirst%20Specialist%20Medical%20Center!5e0!3m2!1sen!2ssa!4v1646404311161!5m2!1sen!2ssa"></iframe>
							</div>
						</div>
					</div>
					<div class="col">
						<a href="#" class="link">
							<i class="icon-clock"></i><span>Working Time</span>
						</a>
						<div class="link-drop">
							<h5 class="link-drop-title"><i class="icon-clock"></i>Working Time</h5>
							<table class="row-table">
								<tr>
									<td><i>Friday</i></td>
									<td>Closed</td>
								</tr>
								<tr>
									<td><i>Saturday</i></td>
									<td> 09:00AM - 09:00PM</td>
								</tr>
								<tr>
									<td><i>Sunday</i></td>
									<td>09:00AM - 09:00PM</td>
								</tr>
								<tr>
									<td><i>Monday</i></td>
									<td>09:00AM - 09:00PM</td>
								</tr>
								<tr>
									<td><i>Tuesday</i></td>
									<td>09:00AM - 09:00PM</td>
								</tr>
								<tr>
									<td><i>Wednesday</i></td>
									<td>09:00AM - 09:00PM</td>
								</tr>
								<tr>
									<td><i>Thursday</i></td>
									<td>09:00AM - 09:00PM</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col">
						<a href="#" class="link">
							<i class="icon-pencil-writing"></i><span>Request Form</span>
						</a>
						<div class="link-drop">
							<h5 class="link-drop-title"><i class="icon-pencil-writing"></i>Request Form</h5>
							<form id="requestForm" method="post" novalidate>
								<div class="successform">
									<p>Your message was sent successfully!</p>
								</div>
								<div class="errorform">
									<p>Something went wrong, try refreshing and submitting the form again.</p>
								</div>
								<div class="input-group">
									<span>
										<i class="icon-user"></i>
									</span>
									<input name="requestname" type="text" class="form-control" placeholder="Your Name" />
								</div>
								<div class="row row-sm-space mt-1">
									<div class="col">
										<div class="input-group">
											<span>
												<i class="icon-email2"></i>
											</span>
											<input name="requestemail" type="text" class="form-control" placeholder="Your Email" />
										</div>
									</div>
									<div class="col">
										<div class="input-group">
											<span>
												<i class="icon-smartphone"></i>
											</span>
											<input name="requestphone" type="text" class="form-control" placeholder="Your Phone" />
										</div>
									</div>
								</div>
								<div class="selectWrapper input-group mt-1">
									<span>
										<i class="icon-micro"></i>
									</span>
									<select name="requestservice" class="form-control">
										<option selected="selected" disabled="disabled">Select Service</option>
										<option value="ملي فيلر 800ريال"> ملي فيلر 800ريال</option>
										<option value="جلسة الترافورمر لشد الوجه والرقبه 999ريال">جلسة الترافورمر لشد الوجه والرقبه 999ريال</option>
										<option value="بوتكس للوجه 900ريال">بوتكس للوجه 900ريال</option>
										<option value="جلستين فركشنال 822ريال">جلستين فركشنال 822ريال</option>
										<option value="تقشير بارد + كريم منزلي 1422ريال">تقشير بارد + كريم منزلي 1422ريال</option>
										<option value="خيوط تجميلية لشد الوجه او الخدود او تحديد الفك 1022ريال">خيوط تجميلية لشد الوجه او الخدود او تحديد الفك 1022ريال</option>
										<option value="جلسة تنظيف بشرة عميق 222ريال">جلسة تنظيف بشرة عميق 222ريال</option>
										<option value="منطقتين ليزر + منطقه مجانا صغيره للسيدات 222ريال">منطقتين ليزر + منطقه مجانا صغيره للسيدات 222ريال</option>
										<option value="جلسه ليزر جسم كامل+تشقير حواجب للسيدات 350ريال">جلسه ليزر جسم كامل+تشقير حواجب للسيدات 350ريال</option>
										<option value="٥جلسات جسم كامل +هديه جلسه تشقير حواجب للسيدات  1000ريال">
											٥جلسات جسم كامل +هديه جلسه تشقير حواجب للسيدات  1000ريال
										</option>
										<option value="٣جلسات ليزر جسم كامل +هديه تشقير حواجب للسيدات 599ريال">
											٣جلسات ليزر جسم كامل +هديه تشقير حواجب للسيدات 599ريال
										</option>
										<option value="ليزر مني بدي ( ابط- بكيني-نص ساق-نص يد) للسيدات 250ريال">ليزر مني بدي ( ابط- بكيني-نص ساق-نص يد) للسيدات 250ريال</option>
										<option value="جلسه ليزر لثلاث مناطق(ابط-بكيني-تحديد دقن) للرجال 522ريال">جلسه ليزر لثلاث مناطق(ابط-بكيني-تحديد دقن) للرجال 522ريال</option>
										<option value="المنطقه الحساسه ( بكيني ) للرجال 222ريال">المنطقه الحساسه ( بكيني ) للرجال 222ريال</option>
										<option value="٣جلسات ليزر جسم كامل للرجال 1392ريال">٣جلسات ليزر جسم كامل للرجال 1392ريال</option>
										<option value="جلسه ليزرجسم كامل للرجال  699ريال">جلسه ليزرجسم كامل للرجال  699ريال</option>
										<option value="جلسة ليزر تحديد ذقن 142ريال">جلسة ليزر تحديد ذقن 142ريال</option>
										<option value="جلسة ليزر منطقة البوكسر للرجال 350ريال">جلسة ليزر منطقة البوكسر للرجال 350ريال</option>
										<option value="صدر او بطن او افخاد للرجال 400ريال">صدر او بطن او افخاد للرجال 400ريال</option>
										<option value="تبييض الاسنان + تنظيف مجانا 499ريال">تبييض الاسنان + تنظيف مجانا 499ريال</option>
										<option value="تبييض الاسنان المنزلي + تنظيف مجانا 499ريال">تبييض الاسنان المنزلي + تنظيف مجانا 499ريال</option>
										<option value="تنظيف اسنان 99ريال">تنظيف اسنان 99ريال</option>
										<option value="هوليوود سمايل 12 سن 7000ريال">هوليوود سمايل 12 سن 7000ريال</option>
										<option value="تعطير الفم للتخلص من الرائحة الكريهه 999ريال">تعطير الفم للتخلص من الرائحة الكريهه 999ريال</option>
									</select>
								</div>
								<div class="row row-sm-space mt-1" style="display:none">
									<div class="col-sm-6">
										<div class="input-group flex-nowrap">
											<span>
												<i class="icon-calendar2"></i>
											</span>
											<div class="datepicker-wrap">
												<input name="requestdate" type="text" class="form-control datetimepicker" placeholder="Date" readonly>
											</div>
										</div>
									</div>
									<div class="col-sm-6 mt-1 mt-sm-0">
										<div class="input-group flex-nowrap">
											<span>
												<i class="icon-clock"></i>
											</span>
											<div class="datepicker-wrap">
												<input name="requesttime" type="text" class="form-control timepicker" placeholder="Time" readonly>
											</div>
										</div>
									</div>
								</div>
								<div class="text-right mt-2">
									<button type="submit" class="btn btn-sm btn-hover-fill">Request</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col">
						<a href="#" class="link">
							<i class="icon-calendar"></i><span>Doctors Timetable</span>
						</a>
						<div class="link-drop">
							<h5 class="link-drop-title"><i class="icon-calendar"></i>Doctors Timetable</h5>
							<p>This simply works as a guide and helps you to connect with dentists of your choice. Please confirm the doctor’s availability before leaving your premises.</p>
							<p class="text-right"><a href="#specialistsSection" class="btn btn-sm btn-hover-fill link-inside">Details</a></p>
						</div>
					</div>
					<div class="col">
						<a href="#" class="link">
							<i class="icon-price-tag"></i><span>Calculator</span>
						</a>
						<div class="link-drop">
							<h5 class="link-drop-title"><i class="icon-price-tag"></i>Quick Pricing</h5>
							<table class="row-table">
								<tr>
									<td>Initial Consultation</td>
									<td>SAR 100</td>
								</tr>
								<tr>
									<td>Dental check-up</td>
									<td>SAR 150</td>
								</tr>
								<tr>
									<td>Routine Exam (no xrays)</td>
									<td>SAR 250</td>
								</tr>
								<tr>
									<td>Simple Removal of a tooth</td>
									<td>SAR122</td>
								</tr>
								<tr>
									<td>Teeth cleaning</td>
									<td>SAR 500 - SAR 750</td>
								</tr>
								<tr>
									<td>X-ray image</td>
									<td>SAR 100</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col">
						<a href="#" class="link">
							<i class="icon-emergency-call"></i><span>Emergency Case</span>
						</a>
						<div class="link-drop">
							<h5 class="link-drop-title"><i class="icon-emergency-call"></i>Emergency Case</h5>
							<p>For emergency please contact us on below channels. </p>
							<ul class="icn-list">
								<li>
									<i class="icon-telephone"></i><span class="phone">920003645<br>920003645</span>
								</li>
								<li><i class="icon-black-envelope"></i><a href="mailto:info@besthotel-email.com">info@besthotel-email.com</a></li>
							</ul>
							<p class="text-right mt-2"><a asp-controller="Home" asp-action="ContactUs" class="btn btn-sm btn-hover-fill link-inside">Our Contacts</a></p>
						</div>
					</div>
					<div class="col col-close"><a href="#" class="js-quickLinks-close"><i class="icon-top" data-toggle="tooltip" data-placement="top" title="Close panel"></i></a></div>
				</div>
			</div>
			<div class="quickLinks-open js-quickLinks-open"><span data-toggle="tooltip" data-placement="left" title="Open panel">+</span></div>
		</div>
	</div>
	<div id="mainSliderWrapper">
		<div class="loading-content">
			<div class="loader-dna">
				<column>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
				</column>
				<column>
					<dash></dash>
					<dash></dash>
					<dash></dash>
					<dash></dash>
					<dash></dash>
					<dash></dash>
					<dash></dash>
					<dash></dash>
				</column>
				<column>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
					<dot></dot>
				</column>
			</div>
		</div>
		<div class="main-slider mb-0 arrows-white arrows-bottom" id="mainSlider" data-slick='{"arrows": false, "dots": true}'>
			
			@foreach (var item in Model.Sliders) { 
			<div class="slide">
				<div class="img--holder" data-bg="/medlab/images/content/slider/@item.SliderImage"></div>
				<div class="slide-content center">
					<div class="vert-wrap container">
						<div class="vert">
							<div class="container">
								<div class="slide-txt1 text-no-uppercase" data-animation="fadeInDown" data-animation-delay="1s">
									@item.title1<br>
									<b>@item.title2</b>
								</div>
								<div class="slide-txt2 text-no-uppercase" data-animation="fadeInUp" data-animation-delay="1.5s">@item.title3</div>
								<div class="slide-btn"><a asp-controller="Home" asp-action="SERVICES" class="btn link-inside" data-animation="fadeInUp" data-animation-delay="2s"><i class="icon-right-arrow"></i><span>Explore our services</span><i class="icon-right-arrow"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			}
		
			
		</div>
	</div>
</div>
<!--//section slider-->
<!--section Offers-->
<div class="section bg-norepeat bg-md-none section-top-padding" style="background-image: url(/medlab/images/bg-top-left2.png)">
	<div class="container">
		<div class="title-wrap text-center">
			<div class="h-sub theme-color">Best Offers</div>
			<h1 class="double-title double-title--center double-title--vcenter" data-title="Best Offers"><span>A Professional & Care Provider</span></h1>
			<div class="h-decor"></div>
		</div>
		@*<form action="#" class="content-search content-search--style2 d-flex mb-3">
				<div class="input-wrap">
					<input type="text" class="form-control" placeholder="Search for specialist" list="doctorPosition">
					<datalist id="doctorPosition">
						<option value="Medical Director"></option>
						<option value="Tissue Bank Director"></option>
						<option value="Embryologist"></option>
					</datalist>
				</div>
				<button type="submit"><i class="icon-search"></i></button>
			</form>*@
		<div class="row specialist-carousel js-specialist-carousel">
			
			
			@foreach (var item in Model.Offers) { 
			<div class="col-sm-6 col-md-4 category1">
				<div class="doctor-box doctor-box-style3 text-center">
					<div class="doctor-box-photo">
						<a href="#"><img src="~/medlab/images/content/Offers/@item.OfferImage" class="img-fluid" alt=""></a>
						@*<div class="doctor-box-links">
								<a href="#"><i class="icon-facebook-logo"></i></a>
								<a href="#"><i class="icon-google-logo"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
							</div>*@
					</div>

				</div>
			</div>
			}

	
		</div>
	</div>
</div>
<!--//section Offers-->
<!--section Equipments-->
<div class="section bg-grey mt-md-0">
	<div class="container">
		<div class="title-wrap text-center">
			<h2 class="h1 double-title double-title--white double-title--center double-title--vcenter" data-title="Latest Equipments"><span>State of the Art<span class="clearfix d-sm-none"></span> Equipments</span></h2>
			<div class="h-decor"></div>
		</div>
		<div class="nav nav-pills-icons js-nav-pills-carousel" role="tablist">
			<a class="nav-link active" data-toggle="pill" href="#tab-A" role="tab"><i class="icon-molecular"></i><span>Deka</span></a>
			<a class="nav-link" data-toggle="pill" href="#tab-B" role="tab"><i class="icon-dental-chair"></i><span>GentleMax Pro</span></a>
			<a class="nav-link" data-toggle="pill" href="#tab-C" role="tab"><i class="icon-micro"></i><span>HydraFacial</span></a>
			<a class="nav-link" data-toggle="pill" href="#tab-D" role="tab"><i class="icon-testtube"></i><span>Scarlet</span></a>
			<a class="nav-link" data-toggle="pill" href="#tab-E" role="tab"><i class="icon-chromosome"></i><span>Ultraformer</span></a>
			@*<a class="nav-link" data-toggle="pill" href="#tab-F" role="tab"><i class="icon-dropper"></i><span>Cytology</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-H" role="tab"><i class="icon-molecular"></i><span>Molecular Testing & Oncology</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-I" role="tab"><i class="icon-testtube2"></i><span>Histology</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-J" role="tab"><i class="icon-micro"></i><span>General Diagnostic<br>Tests</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-K" role="tab"><i class="icon-testtube"></i><span>Naturopathic<br>Tests</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-L" role="tab"><i class="icon-chromosome"></i><span>Genetics Tests</span></a>
				<a class="nav-link" data-toggle="pill" href="#tab-M" role="tab"><i class="icon-dropper"></i><span>Cytology</span></a>*@
		</div>
		<div id="tab-content" class="tab-content mt-2 mt-sm-4">
			<div id="tab-A" class="tab-pane fade show active" role="tabpanel">
				<div class="tab-bg"><img src="~/medlab/images/content/bg-map.png" alt=""></div>
				<div class="row">
					<div class="col-md-6 h-100 mb-2 mb-md-0">
						<img src="~/medlab/images/content/devices/Deka.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<div class="pt-xl-1">
							<h3>Deka</h3>
							<p>Selected Sources to Optimize Clinical Outcome with No Risk of Dyschromic and Cicatricial Effects. DEKA Marked a Turning Point in the World Market of Body Contouring Solutions</p>
							<ul class="marker-list-md">
								<li>Anti-Aging & Wrinkles</li>
								<li>Pigmented Lesions</li>
								<li>Hair Removal</li>
								<li>Skin Tightening</li>
							</ul>
							<a style="display:none" href="#" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>order test</span><i class="icon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-B" class="tab-pane fade" role="tabpanel">
				<div class="tab-bg"><img src="~/medlab/images/content/bg-map.png" alt=""></div>
				<div class="row">
					<div class="col-md-6 h-100 mb-2 mb-md-0">
						<img src="~/medlab/images/content/devices/GentleMax Pro.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<div class="pt-xl-1">
							<h3>GentleMax Pro</h3>
							<p>GentleMax Pro® is a gold standard premium for Laser Hair Removal. The GentleMax Pro® system is a consolidated, dual-wavelength laser platform that combines a fast and powerful 755 nm Alexandrite laser with a 1064 nm Nd: YAG laser to deliver effective and safe results for all skin types.</p>
							<ul class="marker-list-md">
								<li>Permanent removal of unwanted or excess hair in all skin types</li>
								<li>Removal of benign keratoses and/or sun spots on all parts of the body</li>
								<li>Treatment of facial redness and broken blood vessels.</li>
								<li>Skin tightening</li>
							</ul>
							<a href="#" style="display:none" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>order test</span><i class="icon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-C" class="tab-pane fade" role="tabpanel">
				<div class="tab-bg"><img src="~/medlab/images/content/bg-map.png" alt=""></div>
				<div class="row">
					<div class="col-md-6 h-100 mb-2 mb-md-0">
						<img src="~/medlab/images/content/devices/HydraFacial.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<div class="pt-xl-1">
							<h3>HydraFacial</h3>
							<p>The HydraFacial is said to help improve overall skin texture, tone, and appearance. This is due to the deep exfoliation that cleans your pores, removing debris and allowing for better penetration of face serums tailored to your skin type.</p>
							<ul class="marker-list-md">
								<li>Immediate results</li>
								<li>
									Lifelong good skin
								</li>
								<li>Suitable for all skin types</li>
								<li>Gives an overall skincare</li>
							</ul>
							<a href="#" style="display:none" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>order test</span><i class="icon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-D" class="tab-pane fade" role="tabpanel">
				<div class="tab-bg"><img src="~/medlab/images/content/bg-map.png" alt=""></div>
				<div class="row">
					<div class="col-md-6 h-100 mb-2 mb-md-0">
						<img src="~/medlab/images/content/devices/Scarlet.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<div class="pt-xl-1">
							<h3>Scarlet</h3>
							<p>
								Scarlet is a revolutionary treatment that utilizes RF (radiofrequency) and microneedling to rebuild collagen in the skin. This treatment will smooth fine lines, tighten skin, decrease pore size and improve the texture of the skin. It will also drastically improve acne and acne scarring.
							</p>
							<ul class="marker-list-md">
								<li>Tighten the skin in the scalp, face, neck, and body</li>
								<li>Lift the eyelids and improve skin texture, pores, photoaging, scars, acne, and stretch marks</li>

							</ul>
							<a href="#" style="display:none" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>order test</span><i class="icon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-E" class="tab-pane fade" role="tabpanel">
				<div class="tab-bg"><img src="~/medlab/images/content/bg-map.png" alt=""></div>
				<div class="row">
					<div class="col-md-6 h-100 mb-2 mb-md-0">
						<img src="~/medlab/images/content/devices/Ultraformer.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<div class="pt-xl-1">
							<h3>Genetics Tests</h3>
							<p>Ultraformer III stimulates the production of new, stronger collagen with a more 'youthful' structure. This, in turn, strengthens your skin and reinforces its internal support system, helping to reverse the effects of ageing on your skin. Maximum benefits typically occur between six and nine months after treatment.</p>
							<ul class="marker-list-md">
								<li>More effective and, in the long run</li>
								<li>Cost-effective</li>
								<li>Visible tissue lifting across the 3-6 months post-treatment without any downtime</li>
								<li>Reduce adipose (fatty) tissue</li>
							</ul>
							<a href="#" style="display:none" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>order test</span><i class="icon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>
<!--//section-->
<!--section specialists-->
<div class="section bg-norepeat bg-right bg-md-none section-top-padding" style="background-image: url(/medlab/images/bg-top-left.png)">
	<div class="container">
		<div class="title-wrap text-center">
			<div class="h-sub theme-color">Perfect Team</div>
			<h1 class="double-title double-title--center double-title--vcenter" data-title="Perfect Team"><span>A Professional & Care Provider</span></h1>
			<div class="h-decor"></div>
		</div>
		@*<form action="#" class="content-search content-search--style2 d-flex mb-3">
				<div class="input-wrap">
					<input type="text" class="form-control" placeholder="Search for specialist" list="doctorPosition">
					<datalist id="doctorPosition">
						<option value="Medical Director"></option>
						<option value="Tissue Bank Director"></option>
						<option value="Embryologist"></option>
					</datalist>
				</div>
				<button type="submit"><i class="icon-search"></i></button>
			</form>*@
		<div class="row specialist-carousel js-specialist-carousel">
			@foreach (var item in Model.Doctors) { 

			<div class="col-sm-6 col-md-4 category1">
				<div class="doctor-box doctor-box-style3 text-center">
					<div class="doctor-box-photo">
						<a href="/OURSPECIALISTS"><img src="~/medlab/images/content/doctors/@item.DoctorImage" class="img-fluid" alt=""></a>
						<div class="doctor-box-links">
							<a href="#"><i class="icon-facebook-logo"></i></a>
							<a href="#"><i class="icon-google-logo"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
					</div>
					<div class="doctor-box-top">
						<h5 class="doctor-box-name"><a href="#">@item.DoctorName</a></h5>
						<div class="doctor-box-position">@item.Designation</div>
					</div>
				</div>
			</div>
			}

	


		</div>
	</div>
</div>
<!--//section specialists-->
<!--section services -->
<div class="section bg-norepeat bg-md-none section-top-padding" style="background-image: url(/medlab/images/bg-top-left.png);display:none">
	<div class="container-fluid px-0 over-visible">
		<div class="row">
			<div class="col-lg-6">
				<div class="services-tab-wrap float-right">
					<div class="title-wrap-alt text-center text-md-left">
						<div class="h-sub theme-color">What we Offer</div>
						<h2 class="h1 double-title double-title--top-md" data-title="Services"><span>Other Laboratory <span class="theme-color">Services</span></span></h2>
					</div>
					<p>Results of test procedures processed on site are reported to the health care provider the same day during regular business hours. Testing and services available through our Laboratory include:</p>
					<div class="row">
						<div class="col-sm-auto">
							<ul class="marker-list-md">
								<li>Blood Bank / Transfusion</li>
								<li>Immunology and Flow Cytometry</li>
								<li>Reference Lab Testing referrals</li>
								<li>Chemistry</li>
								<li>Hematology</li>
								<li>Histology</li>
								<li>Serology</li>
							</ul>
						</div>
						<div class="col-sm-auto mt-1 mt-md-0">
							<ul class="marker-list-md">
								<li>Point-of-Care Testing</li>
								<li>Microbiology and Virology</li>
								<li>Molecular Pathology</li>
								<li>Bone Marrow Biopsy</li>
								<li>Coagulation</li>
								<li>Pathology & Cytology</li>
								<li>Urinalysis</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 position-relative">
				<div class="ml-xl-6">
					<img src="~/medlab/images/content/index-img-02.jpg" class="w-sm-100" alt="">
				</div>
				<div class="over-image-card pos-left">
					<div class="over-image-card-icon"><i class="icon-download"></i></div>
					<div class="over-image-card-text">
						<h4>Download Forms</h4>
						<p>We have request forms available for diagnostics that list the test panels and individual markers currently available.</p>
						<a href="form-download.html" class="btn btn-white btn-white--all"><i class="icon-right-arrow"></i><span>download forms</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section services -->
<!--section faq-->
<div class="section mt-lg-large">
	<div class="row">
		<div class="col-lg-6">
			<div class="container-shift-left mb-3 mb-md-4">
				<div class="title-wrap text-center text-lg-left">
					<h2 class="h1 double-title double-title--vcenter" data-title="FAQ"><span>Patient <span class="theme-color">Information</span></span></h2>
				</div>
			</div>
			<div class="image-shift-right">
				<img src="~/medlab/images/content/beautopia-patient-info.png" alt="" class="w-md-100">
				<div class="over-image-card pos-right">
					<div class="over-image-card-icon"><i class="icon-card"></i></div>
					<div class="over-image-card-text">
						<h4>Pay Online</h4>
						<p>Online Payment for Patients. For your convenience MedLab now offers the ability to make a secure payment online.</p>
						<a href="form-payonline.html" class="btn btn-white btn-white--all"><i class="icon-right-arrow"></i><span>pay online</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="faq-wrap-bg">
				<div class="faq-wrap faq-wrap--pad-md">
					<h2 class="h1 bg-title">Questions</h2>
					<div class="nav nav-pills nav-pills--noborder" role="tablist">
						<a class="nav-link active" data-toggle="pill" href="#tab-A1" role="tab"><i class="icon-labinstrument"></i>General</a>
						<a class="nav-link" data-toggle="pill" href="#tab-B1" role="tab"><i class="icon-billing"></i>Billing Questions</a>
						<a class="nav-link" href="#" data-toggle="modal" data-target="#modalQuestionForm"><i class="icon-question"></i>Ask Question</a>
					</div>
					<div id="tab-content-2" class="tab-content mt-2">
						<div id="tab-A1" class="tab-pane fade show active" role="tabpanel">
							<div id="faqAccordion1" class="faq-accordion faq-accordion--style2" data-children=".faq-item">
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion1" href="#faqItem1" aria-expanded="true"><span>1.</span><span>How long does my eye exam take?</span></a>
									<div id="faqItem1" class="collapse show faq-item-content" role="tabpanel">
										<div>
											<p>A typical eye exam take 1-1.5 hours because we do a comprehensive, dilated eye exam. This includes: dilation, tonometry (a measurement of eye pressure), visual field test (a measurement of peripheral vision) and visual acuity test (a measurement of distance vision).</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion1" href="#faqItem2" aria-expanded="false" class="collapsed"><span>2.</span><span>How affordable are your services?</span></a>
									<div id="faqItem2" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion1" href="#faqItem3" aria-expanded="false" class="collapsed"><span>3.</span><span>Where can I find out more about specific conditions?</span></a>
									<div id="faqItem3" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion1" href="#faqItem4" aria-expanded="false" class="collapsed"><span>4.</span><span>Which consultants work in the general ophthalmology service?</span></a>
									<div id="faqItem4" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-B1" class="tab-pane fade" role="tabpanel">
							<div id="faqAccordion2" class="faq-accordion faq-accordion--style2" data-children=".faq-item">
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion2" href="#faqItem21" aria-expanded="true"><span>1.</span><span>How can I improve my oral hygiene?</span></a>
									<div id="faqItem21" class="collapse show faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion2" href="#faqItem22" aria-expanded="false" class="collapsed"><span>2.</span><span>How do I know if my teeth are healthy?</span></a>
									<div id="faqItem22" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion2" href="#faqItem23" aria-expanded="false" class="collapsed"><span>3.</span>Why are regular dental assessments so important?</a>
									<div id="faqItem23" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-item">
									<a data-toggle="collapse" data-parent="#faqAccordion2" href="#faqItem24" aria-expanded="false" class="collapsed"><span>4.</span><span>How often 1 should I visit my dentist?</span></a>
									<div id="faqItem24" class="collapse faq-item-content" role="tabpanel">
										<div>
											<p>
												Everyone’s needs are different, so have a chat to your dentist about how often you need to have your teeth checked by them based on the condition of your mouth, teeth and gums. It’s recommended that children see their dentist at least once a year.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section faq-->


<div class="section bg-bottom bg-right bg-norepeat bg-md-none bg-fixed section-bottom-padding section-top-padding">
	<div class="container">
		<div class="row mt-lg-4">
			<div class="col-md-6 col-xl-6 pr-xl-7">
				<div class="department-tabs2">
					<div class="department-tab2">
						<div class="department-tab2-number">1</div>
						<div class="department-tab2-text">Latest Equipment</div>
						<div class="department-tab2-decor"></div>
					</div>
					<div class="department-tab2">
						<div class="department-tab2-number">2</div>
						<div class="department-tab2-text">Quality Service</div>
						<div class="department-tab2-decor"></div>
					</div>
					<div class="department-tab2">
						<div class="department-tab2-number">3</div>
						<div class="department-tab2-text">Skilled Team</div>
						<div class="department-tab2-decor"></div>
					</div>
					<div class="department-tab2">
						<div class="department-tab2-number">4</div>
						<div class="department-tab2-text">Positive Reviews</div>
						<div class="department-tab2-decor"></div>
					</div>
				</div>
				<div class="department-tabs2-bg"><img src="~/medlab/images/bg-department.png" alt=""></div>
			</div>
			<div class="col-md-6 col-xl-6">
				<div class="department-carousel2">
					<div class="department-item">
						<div class="h-sub theme-color">About us</div>
						<h2>Personal Licensed<br>Diagnostic <span class="theme-color">Lab Services</span></h2>
						<p>We pride ourselves on the trained skills needed for the preparation of diversified testing. We are of the sound belief that timely diagnosis could cast off the scar of many of the grave diseases. It can be made possible if you consult your doctor for suspected diseases.</p>
						<ul class="marker-list-md">
							<li>All reports for clients are made simple and easy to understand</li>
							<li>User- friendly website offers custom settings for each physician</li>
							<li>We customize panels to meet physician’s needs.</li>
						</ul>
						<a href="#" class="btn mt-3" data-toggle="modal" data-target="#modalBookingForm"><i class="icon-right-arrow"></i><span>schedule a visit</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section  departments-->
<!--section testimonials-->
<div class="section bg-grey p-0">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="reviews-style4-wrap">
					<div class="reviews-style4">
						<div class="title-wrap">
							<div class="h-sub theme-color">Testimonials</div>
							<h2 class="h1 double-title double-title--white double-title--right" data-title="Testimonials"><span>What Our<br class="d-sm-none">Customers Say</span></h2>
						</div>
						<div class="js-reviews-carousel2 reviews-carousel">
							<div class="review">
								<p class="review-text">“I have used Your services to have my PSA tests done. I have found them to be helpful and professional in performing the lab tests. They also have been prompt in reporting the results back to me. It is nice to be able to get the tests done without having to see a doctor “for permission!” I recommend this service for those who want to watch their own health as much as possible.”</p>
								<p>
									<span class="review-author">- Joseph Dunbar,</span> <span class="review-author-position">Carpenter</span>
								</p>
							</div>
							<div class="review">
								<p class="review-text">“I have used Your services to have my PSA tests done. I have found them to be helpful and professional in performing the lab tests. They also have been prompt in reporting the results back to me. It is nice to be able to get the tests done without having to see a doctor “for permission!” I recommend this service for those who want to watch their own health as much as possible.”</p>
								<p>
									<span class="review-author">- Steven Roa,</span> <span class="review-author-position">Businesswoman</span>
								</p>
							</div>
							<div class="review">
								<p class="review-text">“I have used Your services to have my PSA tests done. I have found them to be helpful and professional in performing the lab tests. They also have been prompt in reporting the results back to me. It is nice to be able to get the tests done without having to see a doctor “for permission!” I recommend this service for those who want to watch their own health as much as possible.”</p>
								<p>
									<span class="review-author">- Wilmer Stevenson,</span> <span class="review-author-position">Creative manager</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 py-sm-3 px-md-4 px-xl-8">
				<div class="testimonials-bg-wrap">
					<img src="~/medlab/images/content/customer-reviews-businessman-hologram-concept-futuristic-176788068_570x321.jpeg" alt="" class="reviews-style4-image-right">
					<div class="testimonials-icon"><span><span>“</span></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section testimonials-->
<!--section prices-->
<div class="section bg-norepeat bg-md-none section-top-padding" style="display:none;background-image: url(/medlab/images/bg-top-left2.png)">
	<div class="container">
		<div class="title-wrap text-center">
			<h2 class="h1 double-title double-title--center double-title--vcenter" data-title="Price Packages"><span>Price Packages</span></h2>
			<div class="h-decor"></div>
		</div>
		<div class="row justify-content-center prices-carousel js-prices-carousel mt-2">
			<div class="col-sm-6 col-md-4">
				<div class="prices-box prices-box--style2">
					<h4 class="prices-box-title">Healthy Days Special</h4>
					<div class="prices-box-text">Includes: 76 Parametersl</div>
					<div class="prices-box-price">
						<sub>SAR</sub>888<sub>.99</sub>
					</div>
					<div class="prices-box-row">Blood Glucose Fasting</div>
					<div class="prices-box-row">Complete Hemogram</div>
					<div class="prices-box-row">Kidney Function Test</div>
					<div class="prices-box-link">
						<a href="form-payonline.html" class="btn"><i class="icon-right-arrow"></i><span>booking now</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="prices-box prices-box--style2 prices-box--special">
					<h4 class="prices-box-title">OnePlusOne Extended</h4>
					<div class="prices-box-text">Includes: 74 Parametersl</div>
					<div class="prices-box-price">
						<sub>SAR</sub>890<sub>.99</sub>
					</div>
					<div class="prices-box-row">Blood Glucose Fasting</div>
					<div class="prices-box-row">Complete Hemogram</div>
					<div class="prices-box-row">Kidney Function Test</div>
					<div class="prices-box-link">
						<a href="form-payonline.html" class="btn btn-white btn-white--all"><i class="icon-right-arrow"></i><span>booking now</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="prices-box prices-box--style2">
					<h4 class="prices-box-title">Basic Screening</h4>
					<div class="prices-box-text">Includes: 60 Parametersl</div>
					<div class="prices-box-price">
						<sub>SAR</sub>491<sub>.99</sub>
					</div>
					<div class="prices-box-row">Blood Glucose Fasting</div>
					<div class="prices-box-row">Complete Hemogram</div>
					<div class="prices-box-row">Kidney Function Test</div>
					<div class="prices-box-link">
						<a href="form-payonline.html" class="btn"><i class="icon-right-arrow"></i><span>booking now</span><i class="icon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section prices-->
<!--section news & achieved-->
<div class="section">
	<div class="row no-gutters row-shift">
		<div class="col-lg-6 col-shift-right">
			<div class="container-shift-left">
				<div class="title-wrap">
					<h2 class="double-title double-title--white double-title--vcenter" data-title="News"><span>News & Events</span></h2>
				</div>
				<div class="blog-post-sm-vertical">
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-01.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Mar 16, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Biochemical Receptor Reverses Bone Degradation Caused by Osteoporosis</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-02.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Mar 28, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Ammonia Fuel Cell is More Powerful, Cost-Effective Than Hydrogen</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-03.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Apr 16, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Nanopore Optofluidic Device Controls Delivery of Individual Biomolecules</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
				</div>
				<div class="blog-post-sm-carousel js-blog-grid-carousel-full">
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-01.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Mar 16, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Biochemical Receptor Reverses Bone Degradation Caused by Osteoporosis</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-02.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Mar 28, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Ammonia Fuel Cell is More Powerful, Cost-Effective Than Hydrogen</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
					<div class="blog-post-sm">
						<div class="blog-post-sm-photo"><img src="~/medlab/images/content/news-03.jpg" alt="" class="img-fluid"></div>
						<div class="blog-post-sm-text">
							<div class="blog-post-sm-date">Apr 16, 2020</div>
							<div class="blog-post-sm-title"><a href="blog-post-page.html">Nanopore Optofluidic Device Controls Delivery of Individual Biomolecules</a></div>
							<a href="blog-post-page.html" class="blog-post-sm-readmore">...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-shift-left mt-4 mt-md-5 mt-lg-2">
			<div class="container-shift-right">
				<div class="title-wrap text-center text-md-left">
					<h2 class="h1">Our <span class="theme-color">Achievements</span></h2>
				</div>
			</div>
			<div class="mt-2 mt-md-3 mt-lg-4">
				<img src="/medlab/images/content/sections/sections/3Artboard5x.png" style="width:103%;" alt="" class="w-sm-100">
				<div class="over-image-counter pos-left">
					<div class="d-flex w-100 justify-content-between">
						<div class="counter-box-sm">
							<div class="counter-box-sm-number"><span class="count" data-to="150" data-speed="1500">0</span><span class="sup">K</span></div>
							<div class="counter-box-sm-text">Tests Performed</div>
						</div>
						<div class="counter-box-sm">
							<div class="counter-box-sm-number"><span class="count" data-to="50" data-speed="1500">0</span><span class="sup">+</span></div>
							<div class="counter-box-sm-text">Permanent Staff</div>
						</div>
						<div class="counter-box-sm">
							<div class="counter-box-sm-number"><span class="count" data-to="250" data-speed="1500">0</span><span class="sup">+</span></div>
							<div class="counter-box-sm-text">Suppliers</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section news & achieved-->
<!--section contact-->
<div class="section bg-norepeat bg-bottom bg-left bg-md-none bg-fixed section-bottom-padding-half section-top-padding" style="background-image: url(/medlab/images/bg-bottom-left2.png)">
	<div class="banner-appointment-form">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-sm-5 col-lg-5 order-2 order-sm-2 mt-3 mt-md-0 text-center">
					<img src="~/medlab/images/content/beautopia-appointment_495x535.png" alt="" class="banner-appointment-form-image">
				</div>
				<div class="col-sm-7 col-lg-7 order-1 order-sm-1 d-flex">
					<div class="pt-2 pt-lg-6 px-lg-3 text-center">
						<div class="title-wrap-alt">
							<h2 class="double-title double-title--vcenter double-title--center" data-title="Appointment"><span>Make an <span class="theme-color">Appointment</span></span></h2>
						</div>
						<p>
							We believe in providing the best possible care to all our existing patients and welcome
							new patients to sample.
						</p>
						<form class="contact-form" id="contactForm" method="post" novalidate="novalidate">
							<div class="successform">
								<p>Your message was sent successfully!</p>
							</div>
							<div class="errorform">
								<p>Something went wrong, try refreshing and submitting the form again.</p>
							</div>
							<div>
								<input type="text" class="form-control" name="name" placeholder="Your name*">
							</div>
							<div class="row row-sm-space mt-15">
								<div class="col-sm-6"><input type="text" class="form-control" name="phone" placeholder="Your Phone"></div>
								<div class="col-sm-6 mt-15 mt-sm-0"><input type="text" class="form-control" name="email" placeholder="Email*"></div>
							</div>
							<div class="mt-15">
								<textarea class="form-control" name="message" placeholder="Message"></textarea>
							</div>
							<div class="mt-2 mt-lg-4">
								<button type="submit" class="btn"><i class="icon-right-arrow"></i><span>Send request</span><i class="icon-right-arrow"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//section contact-->