@model IEnumerable<Beautopia.Model.ServiceSubCategory>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@using Beautopia.Services.IDataService
@using Beautopia.Services.DataAppService
@using Beautopia.Model.Area
@using Beautopia.web.Areas.Admin.Extensions;

@{
	var SessionLang = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<string>("Lang");
	//UsersAppService usersService = new UsersAppService();
	//IUsers _users;
	//_users = usersService;
	//SiteInfo siteInfo = _users.GetSiteInfo();
	////siteInfo = siteInfo;


	var DocCategory = Model.GroupBy(x => new { x.CategoryID, x.CategoryNameEn, x.CategoryNameAr }).ToList();
	var asdf = "";

}


<!--//quick links-->
<div class="page-content">
	<!--section-->
	<div class="section mt-0" style="display:none">
		<div class="breadcrumbs-wrap">
			<div class="container">
				<div class="breadcrumbs">
					@*<a href="index.html">Home</a>
					<span>Services</span>*@
				</div>
			</div>
		</div>
	</div>
	<!--//section-->
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="text-center mb-2  mb-md-3 mb-lg-4">
				<div class="h-sub theme-color">@(SessionLang=="Ar"? "ماذا نقدم": "What We Offer")</div>
				<h1>@(SessionLang=="Ar"? "خدماتنا": "Our Services")</h1>

			</div>
		</div>
	</div>

	<div class="section page-content-first">

		<div class="container">
			<div class="text-center mb-2 mb-md-3" style="display:none">
				<p>At Medin Dental Clinic we strive to give you the best possible treatment and experience to help<br>you achieve your dental goals</p>
			</div>
			<div class="filters-by-category mb-2">
				<ul class="option-set justify-content-center" data-option-key="filter">
					<li><a href="#filter" data-option-value="*" class="selected">All</a></li>
					@foreach (var cat in DocCategory)
	{
						<li><a href="#filter" data-option-value=".Category_@cat.Key.CategoryID">

	
	@(SessionLang=="Ar"? cat.Key.CategoryNameAr : cat.Key.CategoryNameEn)
</a></li>
					}

					@*<li><a href="#filter" data-option-value=".category2">General dentistry</a></li>
						<li><a href="#filter" data-option-value=".category3">Oral medicine</a></li>
						<li><a href="#filter" data-option-value=".category4">Oral surgery</a></li>
						<li><a href="#filter" data-option-value=".category5">Orthodontics</a></li>
						<li><a href="#filter" data-option-value=".category6">Periodontics</a></li>
						<li><a href="#filter" data-option-value=".category7">Prosthodontics</a></li>*@
				</ul>
			</div>
			<div class="gallery-specialist gallery-isotope" id="gallery-specialist">
				@foreach (var item in Model)
				{

					<div class="gallery-item Category_@item.CategoryID">
						<div class="doctor-box text-center" style=" padding-bottom: 1px;">
							<div class="doctor-box-photo">
								<a href="#"><img src="~/admin-custom/Images/SubServices/@item.SubServiceImageName" class="img-fluid" alt=""></a>
							</div>
							<h5 class="doctor-box-name"><a href="#">
	
	@(SessionLang=="Ar"? item.SubCategoryNameAr +" "+item.ServicePrice +"ريال ": item.SubCategoryNameEn +" "+ item.ServicePrice +" SAR")
</a></h5>

							<div class="doctor-box-text">
								<p>
									
									@(SessionLang=="Ar"? item.DescriptionAr : item.Description)
								</p>
							</div>

						</div>
					</div>
				}



			</div>
		</div>
	</div>



	<!--//section-->
</div>

