
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@using Beautopia.Services.IDataService
@using Beautopia.Services.DataAppService
@using Beautopia.Model.Area
@using Beautopia.web.Areas.Admin.Extensions;

@{
	var SessionLang = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<string>("Lang");


	//UsersAppService usersService = new UsersAppService();
	//IUsers _users;
	//_users = usersService;
	//SiteInfo siteInfo = _users.GetSiteInfo();




}

<div class="modal-body" dir="@(SessionLang=="Ar"? "rtl": "ltr")">

	<div class="modal-form">
		<h3 style="margin-top: 6px; float: @(SessionLang=="Ar"? "right": "left")">@(SessionLang=="Ar"? "قدم طلب الخدمة الخاص بك": "Submit Your Service Request")</h3>
		<form id="ServiceRequest" method="post" novalidate>

			<div class="successform">
				<p>@(SessionLang=="Ar"? "تم إرسال طلبك بنجاح ، وسيتصل بك أحد وكلائنا قريبًا" : "Your request is successfully submited, one of our agent will contact you shortly!")</p>
			</div>
			<div class="errorform">
				<p>@(SessionLang=="Ar"? "حدث خطأ ما ، حاول تحديث النموذج وإرساله مرة أخرى": "Something went wrong, try refreshing and submitting the form again")</p>
			</div>
			<div class="selectWrapper input-group mt-1">
				<span>
					<i class="icon-micro"></i>
				</span>
				<select name="Service" class="form-control" id="serviceRequestID" style="font-weight: bold; margin-bottom: 30px;">
					<option selected="selected" value="-1" disabled="disabled">
						@(SessionLang=="Ar"? "حدد فئة الخدمة": "Select Service Category")
						
					</option>

				</select>
			</div>

			@*<div class="container">*@
			<div class="row col-equalH" id="serviceSubCategoryDiv">
				@*<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/index-img-01.png" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">	ملي فيلر 800ريال</p>

						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/index-img-01.png" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">ج جلسة الترافورمر لشد الوجه والرقبه لسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/index-img-01.png" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">جلسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/index-img-01.png" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">جلسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>

					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/skin-services.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl"> جلسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/skin-services.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">جلسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="service-card">
							<div class="service-card-photo">
								<a href="#"><img src="/medlab/images/content/skin-services.jpg" class="img-fluid" alt=""></a>
							</div>
							<h5 class="service-card-name"><input type="checkbox" class="form-control" name="servicecheck" id="service1" /></h5>
							<div class="h-decor"></div>
							<p class="services-desc-cl">جلسة الترافورمر لشد الوجه والرقبه 999ريال</p>

						</div>
					</div>*@
			</div>



			@*<div class="row row-xs-space mt-1" id="serviceSubCategoryDiv" style="display:none">*@
			@*<div class="col-sm-3">
					<div class="custom-checkbox">
						<span>
							ملي فيلر 800ريال
						</span>
						<input type="checkbox" name="servicecheck" id="service1" />

					</div>
				</div>

				<div class="col-sm-3">
					<div class="custom-checkbox">
						<span>
							جلسة الترافورمر لشد الوجه والرقبه 999ريال
						</span>
						<input type="checkbox" name="servicecheck" id="service1" />

					</div>
				</div>

				<div class="col-sm-3">
					<div class="custom-checkbox">
						<span>
							بوتكس للوجه 900ريال
						</span>
						<input type="checkbox" name="servicecheck" id="service1" />

					</div>
				</div>
				<div class="col-sm-3">
					<div class="custom-checkbox">
						<span>
							خيوط تجميلية لشد الوجه او الخدود او تحديد الفك ريال
						</span>
						<input type="checkbox" name="servicecheck" id="service1" />

					</div>
				</div>*@
			@*<div class="col-sm-3">
					<div class="custom-checkbox">
						<span>
							تقشير بارد + كريم منزلي 1422ريال
						</span>
						<input type="checkbox" name="servicecheck" id="service1" />

					</div>
				</div>*@

			@*</div>*@


			<div class="row row-xs-space mt-1">
				<div class="col-sm-6">
					<div class="input-group">
						<span>
							<i class="icon-user"></i>
						</span>
						<input type="text" name="Name" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "اسمك" : "Your Name")" />
						<input type="hidden" name="_listOfServices" id="_listOfServices" value="" />
					</div>
				</div>
				<div class="col-sm-6 mt-1 mt-sm-0">
					<div class="input-group">
						<span>
							<i class="icon-smartphone"></i>
						</span>
						<input type="hidden" name="Source" id="Source" value="" />
						<input type="text" name="Mobile" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "رقم جوالك" : "Your Mobile")" />
					</div>
				</div>
			</div>

			<div class="row row-xs-space mt-1">
				<div class="col-sm-6">
					<div class="input-group">
						<span>
							<i class="icon-email2"></i>
						</span>
						<input type="text" name="Email" class="form-control" autocomplete="off" placeholder="@(SessionLang=="Ar"? "بريدك الالكتروني" : "Your Email")" />
					</div>
				</div>
				<div class="col-sm-6 mt-1 mt-sm-0">
					<textarea name="Comments" class="form-control" placeholder="@(SessionLang=="Ar"? "تعليقك" : "Your comment")"></textarea>
				</div>
			</div>

			<div class="@(SessionLang=="Ar"? "text-left": "text-right") mt-2">
				<button type="submit" class="btn btn-sm btn-hover-fill">@(SessionLang=="Ar"? "أرسل الآن": "Submit now")</button>
			</div>
		</form>
	</div>
</div>

@section scripts {
	<script src="~/js/app/requestform/request-form.js"></script>
}

@*@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}*@

